# Guide to Using QueryBuilder

The `QueryBuilder` class is designed to facilitate the creation of SQL queries through an object-oriented approach. Below is a step-by-step guide on how to use this class effectively.

## Step 1: Initialize the QueryBuilder
Start by creating a `QueryBuilder` object for your primary dataset.

```
qb_main = QueryBuilder('main_dataset_name')
```

## Step 2: Select Columns (Optional)
If you need specific columns from your dataset, use the select_columns method.

```
qb_main.select_columns(['column1', 'column2'])
```

## Step 3: Apply Filters
You can filter your dataset based on certain conditions.

```
qb_main.apply_filters('column1 > 10')
```
## Step 4: Join with Other Datasets
To join your main dataset with others, create additional QueryBuilder instances and join them.

```
qb_additional = QueryBuilder('additional_dataset_name')
qb_additional.select_columns(['columnA', 'columnB'])
qb_additional.apply_filters('columnA = value')
qb_main.join_with(qb_additional, 'left', ['column_to_join_on'])
```
## Step 5: Generate the Final Query
Once all joins and filters are applied, use generate_query to create your SQL query.

```
final_query = qb_main.generate_query()
```

***Note: Iteratively joining QueryBuilder objects to a main object is recommended for clarity.***

In [2]:
from mimicfouretl.query_builder import QueryBuilder

# Example usage
qb1 = QueryBuilder("data_a", columns=["a1", "a2", "a3"], filters=["a1 > 1", "a2 < 3"])

qb2 = QueryBuilder("data_b", filters="b1 < 3")
qb2.select_columns(["b1", "b2", "b3"])

qb3 = QueryBuilder("data_c", columns=["c1", "c2", "c3"])
qb3.apply_filters("c1 = 5")

qb1.join_with(qb2, "inner", ["data_a.a1 = data_b.b1", "data_a.a2 = data_b.b2"] )
qb1.join_with(qb3, "inner", "data_a.a1 = data_c.c1")

final_query = qb1.generate_query()
print(final_query)

SELECT a1, a2, a3, b1, b2, b3, c1, c2, c3
FROM `data_a`
INNER JOIN `data_b` ON data_a.a1 = data_b.b1 AND data_a.a2 = data_b.b2
INNER JOIN `data_c` ON data_a.a1 = data_c.c1
WHERE a1 > 1 AND a2 < 3 AND b1 < 3 AND c1 = 5

In [7]:
if None:
    print(True)